@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

.main-footer{
    font-family: 'poppinsregular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-align: center;
}

main {
    height: 60vh;
}

footer {
    font-family: 'poppinsregular', sans-serif;
    display: flex;
    align-items: center;
    color: white;
    height: 100px;
}

.footer-link {
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
}

#footer_content {
    background-color: rgb(34, 34, 34);
    display: flex;
    width: 100%;
    height: 100%;
    padding: 3rem 1rem;
    align-items: baseline;
    flex-direction: row;
    
}

#footer_contacts h1 {
    color: white;
    margin-bottom: 0.75rem;
    line-height: 30px;
}

#footer_social_media {
    display: flex;
    gap: 5px;
    margin-top: 9px;
    justify-content: center;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    width: 1200px;
    flex-direction: column;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    color: #a8a29e;
    background-color: rgb(34, 34, 34);
}

#horario{
    color: #a8a29e;
}
#reclamacao{
    color: #a8a29e
}